/* ENTETE DE PAGE */

header 
{
    background-color: #f3e9f1;
}

header .logo img
{
    width: 13em;
}

header .titre
{
    margin-top: 1em;
    color: rgb(182, 83, 253);
    font-family: Shrikhand;
}

header .titre h1
{
    font-size: 3.5em;
}

header .panier img
{
    height: 3em;
    margin: 1.5em;
}

/* CORPS DE PAGE */

/* Titre des pages */

.row .col h2
{
    margin-top: 1em;
    font-size: 2.5em;
    color: rgb(255,165,0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.row form h3
{
    color: rgb(255,165,0);
    padding-top: 1em;
}

main
{
    margin-top: 1.2em;
}

/* Page d'Accueil */

main
{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.produits 
{
    text-align: center;
    background: #f3e9f1;
    border-radius: 50px 50px 50px 50px;
    height: 500px;
    width: 20em;
    box-shadow: 1px 1px 7px 1px;
    transform: scale(1);
}

.produits:hover
{
    transform: scale(1.05);       
}

.teddies-lien
{
    color: rgb(255,165,0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.produits a
{
    color: rgb(255,165,0);
    transform: scale(1);
    text-decoration: none;
}

.teddies-img
{    
    width: 20em;
    height: 20em;
    border-radius: 45px 45px 0px 0px;
    object-fit: cover;
}

.teddies-name
{
    color: rgb(182, 83, 253);
    font-family: Shrikhand;
}

.teddies-prix
{
    background-color: white ;
    justify-content: center;
    border: solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    color: black;
}

/* Panier */

.le-panier 
{
    background-color: #f3e9f1;
}

.le-panier .col h2
{
    margin: 0.3em;
}

.le-panier .col .vider-panier
{
    margin: 2em;
}

/* Formulaire */

.formulaire
{
    background-color: #fff;     
    justify-content: center;
}

.le-formulaire h3
{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.form-group input
{
    border-radius: 25px;
    width: 20em;   
    padding: 1em;
}

.formulaire .form-group 
{
    padding: 1em;
    font-size: 1.2em;
}

/* Bouton Commander */

.btn-commander
{
    border-radius: 50px;    
    font-size: 1em;
    padding: 1em 4em 1em 4em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: scale(1);
} 
.btn-commander:hover 
{
    transform: scale(1.05);       
    cursor: pointer;
}

/* Validation Commande */

.commande
{
    margin-top: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #f3e9f1;
    color: rgb(255,165,0);
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.commande h3
{
    font-size: 1.5em;
    color: rgb(182, 83, 253);
    font-family: Shrikhand;
}

/* PIED DE PAGE */

footer
{
    margin-top: 2em;
    background-color: #f3e9f1;  
    padding-top: 1em;  
    width: 100%; 
}

footer h3
{
    color: rgb(182, 83, 253);
    font-family: Shrikhand;
}
